.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

.btn-main {
    background: transparent;
    border: 2px solid var(--accent-primary);
    color: #353535;
    padding: 10px 25px;
    transition: all .25s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.btn-main:hover {
    background: var(--accent-primary);
    color: white;
    text-decoration: none;
}

.btn-main.secondary {
    background: var(--accent-secondary);
    border-color: var(--accent-secondary);
    color: white;
}

.btn-main.secondary:hover {
    background: var(--accent-primary);
    border-color: var(--accent-primary);
    color: white;
}