.text-white * {
  color: white;
}

.text-white a:hover {
  color: white;
}

.text-accent,
a {
  color: var(--accent-primary);
}

.text-accent-secondary {
  color: var(--accent-secondary);
}

.text-accent-tertiary,
a.text-accent-tertiary:hover {
  color: var(--accent-tertiary);
}

.text-accent-quaternary {
  color: var(--accent-quaternary);
}

.text-accent {
  color: var(--accent-primary);
}

.text-gray {
  color: #585556;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}

.text-black {
  color: black;
}

a.text-black:hover {
  color: black;
}

.lh-1 {
  line-height: 1;
}

.ls-1 {
  letter-spacing: 1em;
}

.ls-2 {
  letter-spacing: .2em;
}

.nowrap {
  white-space: nowrap;
}

.wp-block-quote {
  border-left: 2px solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
  font-style: italic;
  font-size: 18px;
}

html,
body {
  font-family: "proxima_novaregular";
}

.light {
  font-family: "proxima_nova_altlight";
}

.thin {
  font-family: "proxima_novathin";
}

.bold,
strong {
  font-family: "proxima_novabold";
}

blockquote {
  font-size: 90%;
}

.garamond {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
}

h1,
.h1,
.blair-bold {
  font-family: 'blairitc_ttbold';
}

h2,
.h2,
.blair-light {
  font-family: 'blairitc_ttlight';
}

.garamond.bold {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
}

@media only screen and (max-width:767px) {
  h1 {
    font-size: 2rem;
  }
}

/*
Adobe Garamond Pro Bold
font-family: adobe-garamond-pro, serif;
font-weight: 700;
font-style: normal;

Adobe Garamond Pro Bold Italic
font-family: adobe-garamond-pro, serif;
font-weight: 700;
font-style: italic;

Adobe Garamond Pro Italic
font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: italic;

Adobe Garamond Pro Regular
font-family: adobe-garamond-pro, serif;
font-weight: 400;
font-style: normal;
*/