.content-image p {
    font-size: 125%;
}

/* @media only screen and (min-width:992px) {
    .content-image p {
        width: 75%;
    }
} */

/* start of solutions */
.col-solutions-icon {
    width: 150px;
    height: 150px;
    /* background: red; */
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(220, 243, 242, 1) 100%);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    object-fit: contain;
}

@media only screen and (min-width:992px) {
    .col-solutions-right .col-content {
        transform: translate(20px, 0px);
    }

    .col-solutions-left .row-icons-solutions:nth-child(1),
    .col-solutions-left .row-icons-solutions:nth-child(3) {
        transform: translate(75px, 0px);
    }

    .col-solutions-right .row-icons-solutions:nth-child(1),
    .col-solutions-right .row-icons-solutions:nth-child(3) {
        transform: translate(-75px, 0px);
    }
}

.arrow-top-left,
.arrow-middle-left,
.arrow-bottom-left,
.arrow-top-right,
.arrow-middle-right,
.arrow-bottom-right {
    width: 45px;
    height: 45px;
}

.arrow-top-left {
    top: -40px;
    left: -5%;
    transform: translate(0%, 0) rotate(-30deg);
}

.arrow-top-right {
    top: -40px;
    right: -5%;
    transform: translate(0%, 0) rotate(30deg);
}

.arrow-middle-left {
    top: 50px;
    left: -55px;
    transform: translate(0%, 0) rotate(-90deg);
}

.arrow-middle-right {
    top: 50px;
    right: -55px;
    transform: translate(0%, 0) rotate(90deg);
}

.arrow-bottom-left {
    bottom: -30px;
    left: -20px;
    transform: translate(0%, 0) rotate(-140deg);
}

.arrow-bottom-right {
    bottom: -30px;
    right: -20px;
    transform: translate(0%, 0) rotate(140deg);
}

/* .col-solutions-left .row-icons-solutions:nth-child(1) .col-arrow svg {
        transform: rotate(-25deg);
    }

    .col-solutions-left .row-icons-solutions:nth-child(2) .col-arrow svg {
        transform: rotate(-25deg);
    }

    .col-solutions-left .row-icons-solutions:nth-child(1) .col-arrow svg {
        transform: rotate(-25deg);
    } */


/* end of solutions */