.content-image p {
    font-size: 125%;
}

/* @media only screen and (min-width:992px) {
    .content-image p {
        width: 75%;
    }
} */

/* start of solutions */
.col-solutions-icon {
    width: 150px;
    height: 150px;
    /* background: red; */
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(220, 243, 242, 1) 100%);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    object-fit: contain;
}

@media only screen and (max-width:991px) {
    .col-solutions-left {
        justify-content: center;
    }
}

@media only screen and (min-width:992px) {
    .col-solutions-right .col-content {
        transform: translate(20px, 0px);
    }

    /* .col-solutions-left .row-icons-solutions:nth-child(1),
    .col-solutions-left .row-icons-solutions:nth-child(3) {
        transform: translate(75px, 0px);
    } */
    .col-solutions-left .row-icons-solutions:nth-child(2) {
        transform: translate(-105px, 0px);
    }

    .col-solutions-right .row-icons-solutions:nth-child(1),
    .col-solutions-right .row-icons-solutions:nth-child(3) {
        transform: translate(-5px, 0px);
    }

    .col-solutions-right .row-icons-solutions:nth-child(2) {
        transform: translate(80px, 0px);
    }
}

.arrow-top-left,
.arrow-middle-left,
.arrow-bottom-left,
.arrow-top-right,
.arrow-middle-right,
.arrow-bottom-right {
    width: 45px;
    height: 45px;
}

.arrow-top-left {
    top: 10px;
    left: -25px;
    transform: translate(0%, 0) rotate(-110deg);
}

.arrow-top-right {
    top: 10px;
    right: -25px;
    transform: translate(0%, 0) rotate(50deg);
}

.arrow-middle-left {
    top: 120px;
    left: -55px;
    transform: translate(0%, 0) rotate(90deg);
}

.arrow-middle-right {
    top: 120px;
    right: -55px;
    transform: translate(0%, 0) rotate(90deg);
}

.arrow-bottom-left {
    bottom: 60px;
    left: -25px;
    transform: translate(0%, 0) rotate(-70deg);
}

.arrow-bottom-right {
    bottom: 58px;
    right: -23px;
    transform: translate(0%, 0) rotate(-105deg);
}

.col-middle .col-solutions-icon {
    width: 275px;
    height: 275px;
}

/* .col-solutions-left .row-icons-solutions:nth-child(1) .col-arrow svg {
        transform: rotate(-25deg);
    }

    .col-solutions-left .row-icons-solutions:nth-child(2) .col-arrow svg {
        transform: rotate(-25deg);
    }

    .col-solutions-left .row-icons-solutions:nth-child(1) .col-arrow svg {
        transform: rotate(-25deg);
    } */


/* end of solutions */