@media only screen and (max-width:991px) {
    .hero-padding {
        padding: 50px 0 50px !important;
    }
}

/* start of testimonials */
@media only screen and (max-width:767px) {
    .img-quotes {
        left: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .testimonials button.owl-prev {
        left: -10%;
    }

    .testimonials button.owl-next {
        right: -10%;
    }
}

/* end of testimonials */